.react-datepicker-wrapper input {
    width: 95px!important;
    padding: 0px 0px 0px 0px;
    height: 21px;
    border: 0;
    background-color: #e9ecef;
}

.form-control {
    background-color: #e9ecef;
}

.btn-del-location {
    margin-left: 15px;
    font-weight: bold;
}

.btn-add-location {
    margin-bottom: 6px;
    padding: 2px 5px 2px 5px;
    margin-top: 6px;
    float: right;
}

.no-record {
    text-align: center;
}

.slot-result-wrapper {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 20px;
}

.form-check {
    display: inline-block!important;
    margin-left: 10px;
}

.btn-block {
    width: 100%;
}

.btn-logout {
    position: absolute;
    right: 10px;
    top: 10px;
}

.age-limit-chkbox {
    margin-top: 3px;
}

.loader-img {
    text-align: center;
}

.loader-img img {
    height: 80px;
}

.record-count {
    font-size: 13px;
    margin-top: 10px;
}

.table-slot-result th {
    text-align: center;
    white-space: nowrap;
}

.table-slot-result th, .table-slot-result td {
    text-align: center;
}

.table-slot-result th:nth-child(8), .table-slot-result td:nth-child(8) {
    width: 120px;
}

.table-slot-result td:nth-child(9) {
    text-align: left!important;
}

.table-slot-result th:nth-child(1), .table-slot-result td:nth-child(1) {
    width: 50px;
    text-align: center;
}